<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <title>{{title}}</title>
</head>
<body>
    <!-- Used to create left + right padding for background -->
    <div class="bigBox">
        <!-- This is the main content area, excluding navbars and sidebars and such -->
        <div class="left">
            <!-- MAIN PANEL -->
            <div class="panel">
                {{content}}
            </div>

            <!-- REPEAT PANELS -->
            {%- if page.panel1 -%}
            <div class="panel" id="panel1">
                {% markdown %}{% renderBox "panel1" %}{% endmarkdown %}
            </div>
            {%- endif -%}

            {%- if page.panel2 -%}
            <div class="panel" id="panel2">
                {% markdown %}{% renderBox "panel2" %}{% endmarkdown %}
            </div>
            {%- endif -%}
            {%- if page.panel3 -%}
            <div class="panel" id="panel3">
                {% markdown %}{% renderBox "panel3" %}{% endmarkdown %}
            </div>
            {%- endif -%}
            {%- if page.panel4 -%}
            <div class="panel" id="panel4">
                {% markdown %}{% renderBox "panel4" %}{% endmarkdown %}
            </div>
            {%- endif -%}
            {%- if page.panel5 -%}
            <div class="panel" id="panel5">
                {% markdown %}{% renderBox "panel5" %}{% endmarkdown %}
            </div>
            {%- endif -%}
        </div>
        <!-- This holds the navbar -->
        <div id="navBox">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="/people/">People</a>
                </li>
                <li>
                    <a href="#">link</a>
                </li>
            </ul>

        </div>
    </div>
</body>
</html>