body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Orion_Nebula_in_NIRCam_short-wavelength_channel_ESA25105094.png/3840px-Orion_Nebula_in_NIRCam_short-wavelength_channel_ESA25105094.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: space;
}

.bigBox {
    display: flex;
    /*border: 2px dotted purple;*/
    border-radius: 10px;
    max-width: 50em;
    margin:auto;
    margin-top: 3em;
}

.left {
    width: 80%;
}

.panel {
    color: white;
    border: 2px solid olive;
    border-radius: 10px;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    background-color: color(from darkGreen srgb r g b / 0.75);
}

#navBox {
    border: 2px solid darkmagenta;
    background-color: color(from magenta srgb r g b / 0.75);
    border-radius: 10px;
    padding: 0.5em;
    width: 8em;
    height: 10em;
    
}

a {
    border-left: 5px solid black;
    border-right: 5px solid black;
    background-color: black;
}

a:link {
    color: blue;
}

a:visited {
}

a:hover {
    color: yellow;
}

a:active {
    color: black;
    background-color: unset;
    border: unset;
}

.title {
    text-align: center;
}

img {
    max-width: 20vw;
    width: 80%;
}

img.pfp {
    float: right;
    border-radius: 50%;
    width: 12em;
    max-width: 20em;
    margin: 0.5em;
}

img.pfp-list {
    border-radius: 50%;
    width: 8em;
    max-width: 20em;
    margin: 0.2em;
    margin-right: 1em;
}

img.pfp-blog {
    float: left;
    border-radius: 50%;
    width: 5em;
    margin-right: 1em;
}

.name {
    display: inline;
    vertical-align: center;
}